<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="crmservice" value="/mscrmservices/2007/crmservice.asmx"/>-->
    
    <add key="crmservice" value="/mscrmservices/2007/SPLA/CrmDiscoveryService.asmx"/>
    <add key="host" value="https://vanguard.crm.g-s.co.il"/>
    <add key="port" value="ifd"/>

    <add key="OrganizationName" value="vanguard"/>
    <add key="userName" value="administrator"/>
    <add key="password" value="pass@word1"/>
    <add key="domain" value="gslab"/>
    <add key="tmpFolder" value="c:\gili"/>
	
	  
	<add key="FileServer" value=""/>
    <add key="aslink" value="y"/>

    <add key="loadingErrorMessgage" value="missing command args:
         
    for crm:
        arg[0]=0(must be 0)
        arg[1]=ObjectId(Guid of the Entity needed for crm)
        arg[2]=FileName (output scaned fileName)
        arg[3]=EntityTypeName
        
    for Regular:
        arg[0]=1(must be 1)
        arg[1]=destination directory
        arg[2]=FileName (output scaned fileName)"/>
    <add key="HeaderNoteLabel" value="כותרת הערה"/>
    <add key="BodyNoteLabel" value="תוכן הערה"/>
    <add key="ErrorMessgageHeader" value="Guardian information system"/>
    <add key="ScanButtonText" value="סרוק"/>
  </appSettings>
  <system.windows.forms jitDebugging="true"/>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
