<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="tmpFolder" value="c:\gili"/>
    
    <add key="loadingErrorMessgage" value="missing command args:&#xD;&#xA;         &#xD;&#xA;    for crm:&#xD;&#xA;        arg[0]=0(must be 0)&#xD;&#xA;        arg[1]=ObjectId(Guid of the Entity needed for crm)&#xD;&#xA;        arg[2]=FileName (output scaned fileName)&#xD;&#xA;        arg[3]=EntityTypeName&#xD;&#xA;        &#xD;&#xA;    for Regular:&#xD;&#xA;        arg[0]=1(must be 1)&#xD;&#xA;        arg[1]=destination directory&#xD;&#xA;        arg[2]=FileName (output scaned fileName)"  />

    <add key="ErrorMessgageHeader" value="Guardian information system"/>
 
    <!--  show list of scanners that's install on client mechine-->
    <add key="ShowScanners" value="1"/>  <!--1-->
  
     <!--  show preview before uploading the file-->
    <add key="ShowPreview" value="1"/>  <!--1-->
   <!--Close DialogBox After Complete-->
    <add key="CloseScannerAuto" value=""/>  <!--1-->
   <!--Delete temp file-->
    <add key="DeleteFileAfterUploading" value=""/>  <!--1-->

    <add key="RestartWIAAuto" value="1"/>
  </appSettings>
  <system.windows.forms jitDebugging="true"/>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileTransferService" messageEncoding="Mtom"  
                 transferMode="Streamed" maxBufferPoolSize="2147483647"  maxReceivedMessageSize="2147483647"
      maxBufferSize="2147483640" sendTimeout="1:00:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2013/ServiceFileTransferService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService"
        contract="UploadLargeImages.IFileTransferService" name="BasicHttpBinding_IFileTransferService" />
    </client>
  </system.serviceModel>
</configuration>
<!--

-->