<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="tmpFolder" value="C:\temp\scanner\client"/>
    <add key="loadingErrorMessgage" value="missing command "   />
    <add key="ErrorMessgageHeader" value="Lior information system"/>
    <!--  show list of scanners that's install on client mechine-->
    <add key="ShowScanners" value="0"/>  <!--1-->
     <!--  show preview before uploading the file-->
    <add key="ShowPreview" value="1"/>  <!--1-->
   <!--Close DialogBox After Complete-->
    <add key="CloseScannerAuto" value=""/>  <!--1-->
   <!--Delete temp file-->
    <add key="DeleteFileAfterUploading" value=""/>  <!--1-->
    <add key="RestartWIAAuto" value="1"/>
    <add key="UrlUploader" value="http://localhost:3434/ServiceFileTransferService.svc/mex"/>
    <add key="PrefferDriver" value="" />
      
  </appSettings>
  <system.windows.forms jitDebugging="true"/>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileTransferService" sendTimeout="01:00:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://lap-gs-92.jer.ad.malam.com:3434/ServiceFileTransferService.svc/mex"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService"
        contract="UploadLargeImages.IFileTransferService" name="BasicHttpBinding_IFileTransferService" />
    </client>
  </system.serviceModel>
</configuration>
<!--

-->
